{% extends 'web/base.html' %}

{% block content %}
    <script src="/static/js/util.js"></script>
    <link href="/static/css/nosql.css" rel="stylesheet">

    <div class="row">

        <div class="col-md-8 col-md-offset-2">
          <h1>Disease List</h1>
          <hr>
        </div>

        <div class="col-md-2">
          <a class="btn btn-success" href="/disease">Voltar</a>
        </div>

        <div class="col-md-4 col-md-offset-2">
          {% include 'disease/query.html' %}
        </div>
        <div class="col-md-4">
          {% include 'disease/symptom.html' %}
        </div>

        <div class="col-md-10 col-md-offset-1">
          <h4>Total <b>{{diseases_list|length }}</b> diseases</h4>
          <ul class="list-group">
          {% for disease in diseases_list %}
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4">
                  <div class="disease-code">
                    {% if disease.code|length > 3 %}
                    {%    with disease.code|slice:':3'|add:'.' as cid1 %}
                    {%    with disease.code|slice:'3:' as cid2  %}
                          <h2><a href="http://apps.who.int/classifications/icd10/browse/2016/en#/{{ cid1 }}{{ cid2 }}">{{ cid1 }}{{ cid2 }}</a></h2>
                    {%    endwith %}
                    {%    endwith %}
                    {% else %}
                      <h2><a href="http://apps.who.int/classifications/icd10/browse/2016/en#/{{ disease.code }}">{{ disease.code }}</a></h2>
                    {% endif %}

                    <h4>{{ disease.description }}</h4>
                  </div>
                  <div class="subdiseases">
                    <h4>Related subdiseases</h4>
                    <ul class="list-group">
                      {% for subdisease in disease.subdiseases %}
                        {% if subdisease.code|length > 3 %}
                          {%    with subdisease.code|slice:':3'|add:'.' as cid1 %}
                          {%    with subdisease.code|slice:'3:' as cid2  %}
                          <li><b><a href="http://apps.who.int/classifications/icd10/browse/2016/en#/{{ cid1 }}{{ cid2 }}">{{ cid1 }}{{ cid2 }}</a></b> {{ subdisease.description }}</li>
                          {%    endwith %}
                          {%    endwith %}
                        {% else %}
                          <li><b><a href="http://apps.who.int/classifications/icd10/browse/2016/en#/{{ subdisease.code }}">{{ subdisease.code }}</a></b> {{ subdisease.description }}</li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                </div>

                <div class="col-md-8">
                  <ul class="list-group">
                    {% for related in disease.related %}
                      <li class="list-group-item">
                        <div class="symptoms">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{disease.code}}{{ forloop.counter }}"><i class="fa fa-info-circle"><span>More info</span></i></a>
                            </h4>
                          </div>
                          <div id="collapse{{disease.code}}{{ forloop.counter }}" class="panel-collapse collapse">
                            <div class="panel-body">
                              <small>{{ related.info }}</small>
                            </div>
                          </div>
                          <h4>Symptoms:</h4>
                          {% for symptom in related.symptoms %}
                            <div>{{ symptom }}</div>
                          {% endfor %}
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </li>
          {% endfor %}
          </ul>
        </div>

    </div>
{% endblock content %}
