{% extends 'web/base.html' %}

{% block content %}
    <a href="{% url "consulta_new" %}" class="btn btn-success pull-right" >New Appointment</a>
    <h1>Patient Appointment List</h1>
    <table class="table table-striped">
        <tr>
            <th>Appointment</th>
            <th colspan="2">Actions</th>
        </tr>
        {% for consulta in object_list %}
        <tr>
            <td>{{ consulta.con_entry_time }}</td>
            <td><a class="btn btn-primary" href="{% url "consulta_edit" consulta.id %}">Edit</a></td>
            <td><a class="btn btn-danger" href="{% url "consulta_delete" consulta.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}
2