body > .container {
  text-align: center;
}

span {
    display: inline-grid;
    max-width: 600px;
    overflow: auto;
}

pre {
  text-align: left;
  display: inline-block;
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}

pre > h3 {
  text-align: center;
}

.string {
  color: green;
}

.number {
  color: darkorange;
}

.boolean {
  color: blue;
}

.null {
  color: magenta;
}

.key {
  color: red;
}
