{% extends 'web/base.html' %}

{% block content %}
    <a href="{% url "doctor_new" %}" class="btn btn-success pull-right" >Insert new Doctor</a>
    <h1>Doctor List</h1>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th colspan="2">Actions</th>
        </tr>
        {% for doctor in object_list %}
        <tr>
            <td>{{ doctor.doc_name }}</td>
            <td><a class="btn btn-primary" href="{% url "doctor_edit" doctor.id %}">Edit</a></td>
            <td><a class="btn btn-danger" href="{% url "doctor_delete" doctor.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}
