{% extends 'register/base.html' %}
    {% block content %}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.inputmask.js"></script>
    <script src="/static/js/doctor.js"></script>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading"><b>Inserir Médico</b></div>
                    <div class="panel-body">
                        <form method="post">{% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    <script>
</script>
    {% endblock content %}

