{% extends 'web/base.html' %}

{% block content %}
    <link href="/static/css/register.css" rel="stylesheet">
    <h1>Welcome to register page!</h1>
	<hr>
    <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <img src="static/img/first-aid-kit.png"><br>
                    <div class="panel-body"><a href="/list_doc">Doctors</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <img src="static/img/medical-specialty.png"><br>
                    <div class="panel-body"><a href="/list_spec">Specialities</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
