{% extends 'register/base.html' %}

{% block content %}
    <link href="/static/css/web.css" rel="stylesheet">
    <h1>Welcome to register page!</h1>
      <button class='btn btn-success'>Start coding</button>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <img src="static/img/first-aid-kit.png"><br>
                    <div class="panel-body"><a href="/list">Doctor's</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}