{% extends 'web/base.html' %}

{% block content %}
    <a href="{% url "specialty_new" %}" class="btn btn-success pull-right" > Insert Speciality</a>
    <h1>Speciality list</h1>
    <table class="table table-striped">
        <tr>
            <th>Speciality</th>
            <th colspan="2">Actions</th>
        </tr>
        {% for specialty in object_list %}
        <tr>
            <td>{{ specialty.med_spec_name }}</td>
            <td><a class="btn btn-primary" href="{% url "specialty_edit" specialty.id %}">Edit</a></td>
            <td><a class="btn btn-danger" href="{% url "specialty_delete" specialty.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}
