{% extends 'web/base.html' %}

{% block content %}
    <link href="/static/css/diagnosis.css" rel="stylesheet">
    <style>
      .select2-container {
        padding: 0px;
        border-width: 0px;
      }
      .select2-container .select2-choice {
        height: 38px;
        line-height: 38px;
      }
      .panel-title {
        text-align: left;
      }
    </style>

    <h1>Diagnosis</h1>

    <form action="/diagnosis" method="GET">
      <div class="form-group ">
        <label>Type your symptoms:</label>
        <div class="row">
          <div class="col-sm-11">
            <select class="js-select2 form-control" name="symptoms" multiple="multiple">
              {% for symptom in symptoms %}
                <option value="{{symptom}}">{{symptom}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-sm-1">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </div>
    </form>

    <hr />

    <div class="panel-group" id="accordion">
      {% for disease_info, matches in diagnosis %}
        {% if matches.alert %}
          <div class="panel panel-danger">
        {% else %}
          <div class="panel panel-default">
        {% endif %}
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
              <b>{{ matches.jaccard|floatformat:1 }}% match</b> - {{ disease_info|truncatechars:60 }}</a>
            </h4>
          </div>
          <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
            <div class="panel-body">
              {% if matches.alert %}
                <a href="/list_consulta" class="btn btn-danger">[DANGER] Find a Doctor as soon as possible.</a>
              {% endif %}
              <h4>Symptoms List:</h4>
              <ul>
                {% for symptom in matches.symptoms %}
                  <li>{{ symptom }}</li>
                {% endfor %}           
              </ul>
              <hr>
              <h4>Disease description:</h4>
              <small>{{ matches.info }}</small>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <script type='text/javascript'>
      $(document).ready(function() {
        $(".js-select2").select2({
          placeholder: "What are you feeling?",
          minimumInputLength: 3
        });
      });
    </script>

{% endblock content %}
