<div id="mainpage" ng-controller="mainCtrl">

        
<div style="height:600px">
  <div style="float: left; width: 50%; height:600px">
    {{>timeline}}
    </div>
    <div style="float: right; width: 45%; height:600px">
     {{>maps}}
    </div>
</div>


</div>