<div id="mainpage" ng-controller="mainCtrl">

        
<div>
  <div style="float: left; width: 50%;">
    {{>timeline}}
    </div>
    <div style="float: right; width: 50%;">
     {{>maps}}
    </div>
</div>


</div>