<div ng-controller="mapsCtrl">
    <ng-map style="width:50%; height:100%;position: fixed;" zoom="13" zoom-to-include-markers="{[{zoomtomark}]}" center="{[{center}]}">
       <marker ng-repeat="mark in markers" 
         position="[{[{mark.latitude}]}, {[{mark.longitude}]}]"></marker>
    </ng-map>
</div>
