Django==1.9.1
Unipath==1.1
dj-database-url==0.3.0
django-extensions==1.5.5
requests==2.7.0
pandas==0.19.1
python-decouple==2.3
pytz==2015.4
scipy>=0.9
scikit-learn>=0.18.0
git+https://github.com/django-nonrel/django@nonrel-1.5
git+https://github.com/django-nonrel/djangotoolbox
git+https://github.com/django-nonrel/mongodb-engine
