{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 ">
            <h2>Upload de Notas Fiscais</h2>
            <br><br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <div id="multipleupload">Upload</div>
            <div id="eventsmessage"></div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function ()
        {
            $("#multipleupload").uploadFile({
                url: "{{ path('upload') }}",
                dragDrop: true,
                fileName: "myfile",
                multiple: true,
                returnType: "json",
                statusBarWidth: 1200,
                dragdropWidth: 1200,
                maxFileSize: 200 * 1024,
                onLoad: function (obj)
                {
                    $("#eventsmessage").html($("#eventsmessage").html() + "<br/>Widget Loaded:");
                },
                onSubmit: function (files)
                {
                    $("#eventsmessage").html($("#eventsmessage").html() + "<br/>Submitting:" + JSON.stringify(files));
                    //return false;
                },
                onSuccess: function (files, data, xhr, pd)
                {
                    pd.filename.append("<br>" + JSON.stringify(data));
                },
                afterUploadAll: function (obj)
                {
                    $("#eventsmessage").html($("#eventsmessage").html() + "<br/>All files are uploaded");
                },
                onError: function (files, status, errMsg, pd)
                {
                    $("#eventsmessage").html($("#eventsmessage").html() + "<br/>Error for: " + JSON.stringify(files));
                },
                onCancel: function (files, pd)
                {
                    $("#eventsmessage").html($("#eventsmessage").html() + "<br/>Canceled  files: " + JSON.stringify(files));
                },
                deleteCallback: function (data, pd) {
                    for (var i = 0; i < data.length; i++) {
                        $.post({{ path('delete', {name: "data"}) }},
                                function (resp, textStatus, jqXHR) {
                                    //Show Message	
                                    alert("File Deleted");
                                });
                    }
                    pd.statusbar.hide(); //You choice.

                }
            });
        });
    </script>
{% endblock %}