doctype html

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')


  body
      block content
      script(src="map.js",type="application/javascript")
      script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt-pZ7J-sohE0afwBbCZtxua_hK3wgB6Y&callback=myMap")


