<div id="map" style="height: 100%"></div>
<script type="text/javascript" src="map.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt-pZ7J-sohE0afwBbCZtxua_hK3wgB6Y&callback=myMap"></script>

