<p>
<% if (user.facebook.photo) { %>
<img src="<%= user.facebook.photo %>"></br>
<% } %>
ID: <%= user.facebook.id %><br/>
Nome: <%= user.facebook.displayName %><br/>
<% if (user.facebook.emails) { %>
Email: <%= user.facebook.emails[0].value %><br/>
<% } %>
</p>